.wrapper {
  margin: 10px;
  height: 97vh;
  width: 80vw;
  border-radius: 20px;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
}

.image {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateX(-10px);
  }
}
